@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Let's Setup our default Styling */
:root{
  --primaryColor:hsl(258, 55%, 56%);
  --hoverColor:hsl(263, 75%, 76%);
  --paleGreen:hsl(96,75%,89%);
  --whiteColor:hsl(0,0%,100%);
  --blackColor:hsl(0,0%,18%);
  --greyText:hsl(0,0%,75%);
  --bgColor:hsl(113,11%,85%);
  --inputColor:hsl(330,12%,97%);

  /* Font ang Typography */
  --biggestFontSize:2.5rem;
  --h1FontSize:1.5rem;
  --h2FontSize:1.25rem;
  --h3FontSize:1rem;
  --normalFontSize:0.938rem;
  --smallFontSize:0.813rem;
  --smallestFontSize:0.75rem;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display:grid;
  align-items: center;
  gap:1.5rem;
}
html{
  font-size: 90%;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.icons{
  font-size: var(--h2FontSize);
}
img,video{
  height: auto;
  width: 100%;
}
.message{
  display: none;
}
.showMsg{
  display: block;
  padding: 10px;

  color: var(--whiteColor);
  background: rgb(255,0,0);
  border-radius: 3px;
  text-align: center;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyText);
}

.btn .icon{
  margin-left: 0.5rem;
}
.btn:hover{
  color: var(--primaryColor);
  background: var(--paleGreen);
}

@media screen and (max-width:920px) {
  .loginPage .container, .registerPage .container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }
  .loginPage .container .videoDiv, .registerPage .container .videoDiv{
    width: 100%;
    height: 50vh;
  }
  .container .videoDiv .textDiv .title{
    font-size: 20px;
  }
  .container .videoDiv .textDiv p{
    padding: 1rem;
  }
  .container .videoDiv .footerDiv .text{
    font-size: 12px;
  }
  .container .videoDiv .footerDiv .btn{
    padding: .4rem 1.5rem;
  }
  .formDiv{
    gap: 1rem;
    transform: translateY(-.5rem);
  }
}